<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Da Quotes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kurale&family=Rowdies:wght@300;400;700&family=Rubik+Wet+Paint&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>
    <h1 class="title">Da Quotes</h1>
    <div>
        <p class="card">
            <%= advi %>
        </p>
    </div>
    <button onclick="refreshAdvice()">Refresh</button>
    <script>
        function refreshAdvice() {
            location.reload();
        }
    </script>
</body>
</html>